<body>
    Cantidad de Personas
    <input type="number" [(ngModel)]="personCount" name="personCount">
    <input type="button" value="Enviar" (click)="pushList()">
    <div *ngIf="hasPerson">
        <div *ngFor="let person of personList">
            Nombre
            <input type="text" [(ngModel)]="person.name" name="name">
            Plata
            <input type="number" [(ngModel)]="person.amount" name="amount">
        </div>
        <input type="button" value="Calcular" (click)="calculate()">
    </div>
    <div *ngIf="isPaymentFinished">
        <div *ngFor="let payment of paymentList">
            {{payment.debtorPerson.name}}
            le debe
            ${{payment.amount}}
            a ----->
            {{payment.creditorPerson.name}}
        </div>
    </div>
</body>